# Virtual environment
venv/

# Environment variables (sensitive API keys, etc.)
.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# OS metadata
.DS_Store

# legacy code
legacy/

# videos
demo-video/